<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<system.web>
		<compilation debug="true" targetFramework="4.0"/>
		<!-- allow biggest possible request -->
		<httpRuntime maxRequestLength="8192"/>
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/></system.web>
	<system.serviceModel>
		<behaviors>
			<serviceBehaviors>
				<behavior name="">
					<dataContractSerializer maxItemsInObjectGraph="10000000"/>
					<serviceMetadata httpGetEnabled="true"/>
					<serviceDebug includeExceptionDetailInFaults="false"/>
				</behavior>
			</serviceBehaviors>
		</behaviors>
		<bindings>
   <customBinding>
    <binding name="SilverBioPatMLEditor.Web.Service1.customBinding0"
     openTimeout="00:15:00" receiveTimeout="00:15:00" sendTimeout="00:15:00">
     <binaryMessageEncoding>
      <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
       maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
     </binaryMessageEncoding>
     <httpTransport maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647"
      maxBufferSize="2147483647" />
    </binding>
    <binding name="SilverBioPatMLEditor.Web.BioPatMLDataService.customBinding0">
     <binaryMessageEncoding />
     <httpTransport />
    </binding>
   </customBinding>
  </bindings>
		<serviceHostingEnvironment aspNetCompatibilityEnabled="true"
   multipleSiteBindingsEnabled="true" />
		<services>
   <service name="SilverBioPatMLEditor.Web.Service1">
    <endpoint address="" binding="customBinding" bindingConfiguration="SilverBioPatMLEditor.Web.Service1.customBinding0"
     contract="SilverBioPatMLEditor.Web.Service1" />
    <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
   </service>
   <service name="SilverBioPatMLEditor.Web.BioPatMLDataService">
    <endpoint address="" binding="customBinding" bindingConfiguration="SilverBioPatMLEditor.Web.BioPatMLDataService.customBinding0"
     contract="SilverBioPatMLEditor.Web.BioPatMLDataService" />
    <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
   </service>
  </services>
	</system.serviceModel>
</configuration>
