<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
        <httpRuntime maxRequestLength="8192"/>
        <compilation debug="true" targetFramework="4.0" />
    </system.web>

    <system.serviceModel>
        <behaviors>
            <serviceBehaviors>
                <behavior name="">
                    <serviceMetadata httpGetEnabled="true" />
                    <serviceDebug includeExceptionDetailInFaults="false" />
                  <serviceThrottling maxConcurrentCalls="100" maxConcurrentSessions="50"
                      maxConcurrentInstances="50" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <bindings>
            <customBinding>
                <binding name="MQuter_eLabApp.Web.Workflow_WCF.WorkflowService.customBinding0"
                          openTimeout="01:20:00" receiveTimeout="01:30:00" sendTimeout="01:15:00">
                    <binaryMessageEncoding />
                  <httpTransport maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647"
                    maxBufferSize="2147483647" />
                </binding>
            </customBinding>
        </bindings>
      <serviceHostingEnvironment aspNetCompatibilityEnabled="true"
            multipleSiteBindingsEnabled="true" />
        <services>
            <service name="MQuter_eLabApp.Web.Workflow_WCF.WorkflowService">
                <endpoint address="" binding="customBinding" bindingConfiguration="MQuter_eLabApp.Web.Workflow_WCF.WorkflowService.customBinding0"
                    contract="MQuter_eLabApp.Web.Workflow_WCF.WorkflowService" />
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
            </service>
        </services>
    </system.serviceModel>
</configuration>
